<div class="news_content_bar">
{{#news}}
    {{#group}}
    <div class={{group}}>
    {{/group}}
        <div class={{class}}>
            <div>{{title}}</div>
        </div>
        {{/news}}
    </div>
</div>
